<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Weather App</h1>
    <div class="search-container">
        <form id="weatherForm">
            <input type="text" id="cityInput" placeholder="Search City..." name="city">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="row text-center mt-5">
        <div class="col-12">
            <p class="fs-3">Temperature: <span id="temperature"></span></p>
            <p class="fs-3">City Name: <span id="cityName"></span></p>
            <p class="fs-3">Day: <span id="day"></span></p>
            <p class="fs-3">Weather: <span id="weather"></span></p>
            <p class="fs-3">Humidity: <span id="humidity"></span></p>
            <p class="fs-3">Pressure: <span id="pressure"></span></p>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
