<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>WeatherApp</h1>
    <div class="search-container">
        <form id="weatherForm">
            <input type="text" id="cityInput" placeholder="Search City..." name="city">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="row text-center mt-5">
        <div class="fs-3-container">
            <div class="fs-3-row">
                <p class="fs-3">Temperature: 25°C</p>
                <p class="fs-3">City Name: Istanbul</p>
            </div>
            <div class="fs-3-row">
                <p class="fs-3">Day: Monday</p>
                <p class="fs-3">Weather: Sunny</p>
            </div>
            <div class="fs-3-row">
                <p class="fs-3">Humidity: 60%</p>
                <p class="fs-3">Pressure: 1015 hPa</p>
            </div>
        </div>
        
    </div>

</body>
</html>
